### 1)

Database is used to store data either in structured or non structured format

SQL database have datastorage in predefined fixed schema sucha as table whereas NOSQL stores data in dynamic schema or structure

### 2)

DDL => Data Definition Language are used to create or modify the structure of database objects

CREATE => It is used to create database or table

DROP => It is used to delete database or table

ALTER => It is used to alter or modify table structure such as changing column names

TRUNCATE => It is used to empty the table

### 3)

DML => It is used to manipulate data within table

INSERT => This command is used to insert new data in table

UPDATE=> This command is used to update existing command from table

DELETE => This command is used to delte any  existing data from table

### 4)

DQL => Data Query LAnguage is used to get data from table

SELECT => It is used to fetch single or multiple records from table

### 5)

PRIMARY KEY => Attribute or column of table that uniquely defines and distinguishes all rows from 
               each other is called Primary key.It is non-empty , unique and non-repeating in nature

FOREIGN KEY=> Attribute or column of one table that refers to primary key of other table

### 6)

In [3]:
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )
# print(mydb)
# mycursor = mydb.cursor()
# mycursor.execute("SHOW DATABASES")
# for x in mycursor:
#   print(x)

Cursor => Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the 
Time of Performing DML(Data Manipulation Language) operations on Table by User.

execute => To execute any sql command from pthyon execute command is used

### 7)

1) FROM and JOIN => 2) WHERE => 3) GROUPBY => 4)HAVING => 5) SELECT => 6)DISTINCT => 7)ORDERBY => 8)LIMIT